[Desktop Entry]
Name=Chirp
GenericName=chirp
Exec=chirpw
Icon=chirp
Terminal=false
Type=Application
Categories=Network;HamRadio;
Version=1.0
Comment=CHIRP Radio Programming Tool
